<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>home</title>
</head>

<body>
    <div class="nav">
        <h1>UVS NODEJS COURSES</h1>
        <div class="link">
            <button class="btn btn-primary"><a href="/" class="text-white">home</a></button>
            <button class="btn btn-primary"><a href="/courses" class="text-white">courses</a></button>
            <button class="btn btn-primary"><a href="/contact" class="text-white">contact</a></button>

        </div>
    </div>
        <div class="app_body">
            <div class="img">
            <img src="/img/network-web-generic-02.png" alt="">
            </div>
            <div class="text">
                <h1>Reach out to us! </h1>
                <span>Enter your email if you're interested to learn more</span><br>
                <form action="/contact" method="post">
                    <span>Name</span>
                    <input type="text" class="i"><br><br>
                    <span>Email</span>
                    <input type="text" class="i"><br><br>
                   <center><button class="btn btn-primary ml-2" type="submit">submit</button></center> <br>
                </form>
                <span>we'll get back to you soon</span>
            </div>
        </div>
</body>