<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>home</title>
</head>

<body>
 <div class="nav">
    <h1>UVS NODEJS COURSES</h1>
    <div class="link">
        <button class="btn btn-primary"><a href="/" class="text-white">home</a></button>
        <button class="btn btn-primary"><a href="/courses" class="text-white">courses</a></button>
        <button class="btn btn-primary"><a href="/contact" class="text-white">contact</a></button>

    </div>
   
</div>
<div class="app_body">
    <div class="img">
        <img src="img/logo-UVS.jpg" style="height:95% ;" alt="">
    </div>
    <div class="text">
        <h1>Welcome!</h1>
        <span>Please check out all the cool new courses by our <br>innovative and creative teachers. <br><br>if you want to see a new course click the <a href="" class="text-primary">courses page</a><br>When you see a course you like you can <a href="" class="text-primary">contact us to <br>join!</a>Soon you'll be creating new web apps using the "JS <br> Everywhere slogan" </span>
        <h1>myhomePage</h1>

 </p> 
    </div>
</div>
</body>

 
